
@media all and (max-width: 968px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }    
    nav .logo {
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul ul li {
        position: static;
    }

    nav ul ul li {
        border-bottom: 0px;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    nav ul ul ul a {
        padding-left: 80px;
    }

    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: cyan;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    .show + a, ul {
        display: none;
    }

    [id^=btn]:checked + ul {
        display: block;
    }

}
